<div class="col-md-6 mt-2" style="margin: 0 auto;">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title text-center">Edit Post</h3>
        </div>
        <form [formGroup]="editForm" (ngSubmit)="updatePost()">
            <!-- <input formControlName="id"> -->
            <div class="card-body">
                <div class="form-group">
                    <label for="title"><b>Title</b></label>
                    <input type="text" class="form-control" id="title" formControlName="title"
                        placeholder="Add post title"
                        [ngClass]="{'is-invalid': !editForm.get('title').valid && (editForm.get('title').dirty
                                                || editForm.get('title').touched)}">
                    <span class="text-danger" *ngIf="editForm.get('title').errors?.required &&
                                                    !editForm.get('title').pristine">This field is required</span>
                </div>
                <div class="form-group">
                    <label for="body"><b>Post's Body</b></label>
                    <textarea class="form-control" id="body" formControlName="body" rows="3"
                    [ngClass]="{'is-invalid': !editForm.get('body').valid && (editForm.get('body').dirty
                                            || editForm.get('body').touched)}"></textarea>
                    <span class="text-danger" *ngIf="editForm.get('body').errors?.required &&
                                                    !editForm.get('body').pristine">This field is required</span>
                </div>
                <div class="form-group">
                    <label for=""><b>Description</b></label>
                    <input type="text" class="form-control" formControlName="description" id="" placeholder="">
                </div>
            </div>
            <div class="card-footer">
                <button [disabled]="editForm.invalid" class="btn btn-info" type="submit">Update Post</button>
            </div>
        </form>
    </div>
</div>
